@use "../utils" as u;

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    gap: 20px;

    .grid__item1 {
        grid-row: 1/2;
    }
    
    .grid__item2 {
        grid-row: 2/3;
    }
    
    .grid__item3 {
        grid-row: 3/4;
    }
    
    .grid__item4 {
        grid-row: 4/5;
    }
}