<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viết hiệu ứng chuyển slide</title>
    <link rel="stylesheet" href="css/change-slide-1.css">
    <script src="script/change-slide-1.js" defer></script>
</head>
<body>
    <div class="wrapper">
        <div class="slide-1"></div>
        <div class="slide-2"></div>
        <div class="slide-3"></div>
        <div class="slide-4"></div>
    </div>
    <div class="btn">
        <ul class="btn__list">
            <li class="btn__list-item">1</li>
            <li class="btn__list-item">2</li>
            <li class="btn__list-item">3</li>
            <li class="btn__list-item">4</li>
        </ul>
    </div>
</body>
</html>