<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xử lý hiệu ứng cuộn chuột của trang kênh14</title>
    <link rel="stylesheet" href="css/scroll-event-2.css">
    <script src="script/scroll-event-2.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="header"></div>
        <div class="menu">
            <ul class="menu__list">
                <li class="menu__list-item">Start</li>
                <li class="menu__list-item">TV Show</li>
                <li class="menu__list-item">Cine'</li>
                <li class="menu__list-item">Music</li>
                <li class="menu__list-item">Fashion</li>
                <li class="menu__list-item">Đời sống</li>
                <li class="menu__list-item">Ăn cả thế giới</li>
                <li class="menu__list-item">Xã hội</li>
                <li class="menu__list-item">Thế giới</li>
                <li class="menu__list-item">Sport</li>
                <li class="menu__list-item">Học đường</li>
                <li class="menu__list-item">Video</li>
            </ul>
        </div>
        <div class="banner">
            <div class="banner__box"></div>
        </div>
        <div class="part-1"></div>
        <div class="part-2"></div>
        <div class="part-3"></div>
        <div class="part-4"></div>
        <div class="part-5"></div>
        <div class="side-1"></div>
        <div class="side-2"></div>
        <div class="side-3"></div>
        <div class="side-4">
            <h3 class="side-4__text">Hello everyone</h3>
        </div>
    </div>
</body>
</html>